@import '~@fortawesome/fontawesome-pro/css/all.min.css';

.App {
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	input {
		appearance: none;
		-webkit-appearance: none;
		padding: 0.3rem;
		border: thin solid #ccc;
		color: #333;
		border-radius: 0.2rem;
		background-color: #fff;

		&.is-invalid {
			border-color: #c00;
		}
	}

	button {
		appearance: none;
		-webkit-appearance: none;
		padding: 0.3rem;
		border: 1px solid #ccc;
		color: #333;
		font-weight: 600;
		border-radius: 0.2rem;
		background-color: #fff;
		cursor: pointer;
	}

	div.invalid-feedback {
		margin-top: 0.3rem;
		color: #c00;
	}
}
